<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="https://kit.fontawesome.com/b138807342.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <i class="far fa-paper-plane"></i>
            <span>Take me Anywhere</span>
        </header>

        <main>
            <section>
                <div class="ui segment">
                    <div class="ui dimmer">
                        <div class="ui text loader">Getting Details</div>
                    </div>
                </div>
                        
                <section>
                    <form class="ui form">
                        <span>Where To ? and When ?</span>
                        <input id="city" type="text" name="city" value="" placeholder="city travelling to">
                        <input type="date" id="leavingDate" name="leavingDate">
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </section>

                <section id="result-display">
                    <h3><strong>Weather There</strong></h3>
                    <div id="result"></div>
                </section>
            </section>
            <section id="window">
                <span>My window</span>
                <div id="image"></div>
            </section>
        </main>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
